<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.EvaluacionADConnectionString"
            connectionString="Data Source=FERNANDO\MULTI;Initial Catalog=EvaluacionAD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.ProyectoPiolinConnectionString"
            connectionString="Data Source=fernando\multi;Initial Catalog=ProyectoPiolin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.TouchSecurityConnectionString"
            connectionString="Data Source=TouchSecurity.mssql.somee.com;Initial Catalog=TouchSecurity;Persist Security Info=True;User ID=jeangr20_SQLLogin_1;Password=5r4d9vzu6v"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>