<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.TouchSecurityConnectionString"
            connectionString="Data Source=TouchSecurity.mssql.somee.com;Initial Catalog=TouchSecurity;Persist Security Info=True;User ID=jeangr20_SQLLogin_1;Password=5r4d9vzu6v"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>